.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    gap: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
}

.details-form {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    gap: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 13px;
    color: var(--primary-color);
}

.form-input {
    all: unset;
    width: calc(100% - 22px);
    color: black;
    cursor: text;
    font-size: 16px;
    padding: 0 10px;
    line-height: 1.75rem;
    border-radius: 3px;
    border: 1px solid #d8dae0;
}

.details-form .form-input {
    border: none;
    padding-left: 10px;
    padding-right: 0;
    border-bottom: 1px solid #d8dae0;
}

.btn {
    all: unset;
    cursor: pointer;
    padding: 8px 3px;
    width: calc(100% - 6px);
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    background-color: var(--primary-color);
}

.logo {
    position: absolute;
    width: 150px;
    left: 50%;
    bottom: 100px;
    translate: -50%;
}

.search {
    display: grid;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d8dae0;
    grid-template-columns: 20px 1fr;
}

.search img {
    width: 20px;
}

.search input {
    all: unset;
    cursor: text;
    color: black;
    font-size: 13px;
}

.add-btn {
    margin-block: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn img {
    width: 20px;
    margin-right: 5px;
}

.doctors-form {
    width: 300px;
    height: calc(100vh - 80px);
    display: grid;
    gap: 20px;
    grid-template-rows: 40px 40px 1fr 40px;
}

.doctors {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.doctor-card {
    color: var(--primary-color);
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #d8dae0;
}

.delete-btn {
    width: 20px;
}

.add-image-div .delete-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.add-image-div {
    position: relative;
    background-color: #f6f6f7;
    height: 100px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.add-image-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    filter: brightness(50%);
    translate: -50% -50%;
}

.add-image-div input {
    opacity: 0;
    width: 80px;
    height: 80px;
}