@media (min-width: 1000px) {
    .login-form {
        width: 360px;
    }
    label {
        font-size: 16px;
    }
    .form-input {
        font-size: 19px;
        border-radius: 4px;
        line-height: 2.5rem;
    }
    .btn {
        font-size: 16px;
        margin-top: 5px;
        height: 2.5rem;
        padding-block: 0;
    }

    /*.details-form-logo {*/
    /*    bottom: 50px;*/
    /*}*/

    .details-form button {
        margin-bottom: 30px;
    }
}