* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --primary-color: #264a98;
}